<md-card>
  <md-toolbar color="secondary">Login</md-toolbar>
  <md-card-content>
    <form>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input placeholder="Email" style="width: 100%">
              <span md-prefix>@&nbsp;</span>
            </md-input>
          </td>
          <td>
            <md-input placeholder="Password" style="width: 100%" type="password"></md-input>
          </td>
          <td>
            <label>
              <md-input placeholder="Confirm" style="width: 100%" type="password"></md-input>
            </label>
          </td>
        </tr>
      </table>
      <p>
        <md-input placeholder="Email"></md-input>
        <md-input placeholder="Password" type="password"></md-input>
        <md-input placeholder="Confirm" type="password"></md-input>
      </p>

      <p>
        <md-input placeholder="Email"></md-input>
      </p>
      <p>
        <md-input placeholder="Password" type="password"></md-input>
      </p>
      <p>
        <md-input placeholder="Confirm" type="password"></md-input>
      </p>

      <button md-button>Login</button>
      <button md-button>Register</button>
    </form>
  </md-card-content>
</md-card>
